name:
  quizitor

networks:
  postgres-lan:
    driver: bridge
  redis-lan:
    driver: bridge
  kafka-lan:
    driver: bridge

services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "db_prod" ]
      interval: 5s
      timeout: 5s
      retries: 12
    environment:
      PGUSER: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - postgres-lan

  redis:
    image: redis:latest
    restart: unless-stopped
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "6379:6379"
    networks:
      - redis-lan

  redis-ui:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - redis-lan

  kafka:
    image: apache/kafka:latest
    restart: unless-stopped
    healthcheck:
      test: [
        "CMD-SHELL",
        "unset JMX_PORT; \
        /opt/kafka/bin/kafka-topics.sh --create --topic health-check-topic --if-not-exists --bootstrap-server kafka:19092 > /dev/null 2>&1 && \
        echo 'test-message' | /opt/kafka/bin/kafka-console-producer.sh --bootstrap-server kafka:19092 --topic health-check-topic > /dev/null 2>&1 && \
        /opt/kafka/bin/kafka-console-consumer.sh --bootstrap-server kafka:19092 --topic health-check-topic --from-beginning --max-messages 1 --consumer-property group.id=health-check-$$(date +%s) 2>/dev/null | grep -q 'test-message' && \
        /opt/kafka/bin/kafka-topics.sh --delete --topic health-check-topic --bootstrap-server kafka:19092 --if-exists > /dev/null 2>&1"
      ]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 30s
    ports:
      - "9092:9092"
    environment:
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: 'CONTROLLER://:9093,PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:19092,PLAINTEXT_HOST://:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_MS: 3600000
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 5000
    networks:
      - kafka-lan

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:main
    ports:
      - "9090:8080"
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:19092
    networks:
      - kafka-lan

  migrator:
    depends_on:
      postgres:
        condition: service_healthy
    image: quizitor/migrator:local
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
      tags:
        - vorobalek/quizitor-migrator:local
    env_file:
      - path: ./env/migrator/.env.local
        required: true
    networks:
      - postgres-lan

  api:
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    image: quizitor/api:local
    build:
      context: .
      dockerfile: Dockerfile
      target: api
      tags:
        - quizitor/api:local
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:80/health | grep 'Healthy'" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    restart: unless-stopped
    env_file:
      - path: ./env/api/.env.local
        required: true
    networks:
      - postgres-lan
      - kafka-lan

  bots:
    depends_on:
      redis:
        condition: service_healthy
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    image: quizitor/bots:local
    build:
      context: .
      dockerfile: Dockerfile
      target: bots
      tags:
        - quizitor/bots:local
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:80/health | grep 'Healthy'" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    restart: unless-stopped
    env_file:
      - path: ./env/bots/.env.local
        required: true
    networks:
      - postgres-lan
      - kafka-lan
      - redis-lan

  sender:
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    image: quizitor/sender:local
    build:
      context: .
      dockerfile: Dockerfile
      target: sender
      tags:
        - quizitor/sender:local
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:80/health | grep 'Healthy'" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    restart: unless-stopped
    env_file:
      - path: ./env/sender/.env.local
        required: true
    networks:
      - postgres-lan
      - kafka-lan

  events:
    depends_on:
      redis:
        condition: service_started
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    image: quizitor/events:local
    build:
      context: .
      dockerfile: Dockerfile
      target: events
      tags:
        - quizitor/events:local
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:80/health | grep 'Healthy'" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    restart: unless-stopped
    env_file:
      - path: ./env/events/.env.local
        required: true
    networks:
      - postgres-lan
      - kafka-lan
      - redis-lan

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - ./etc/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - postgres-lan
      - kafka-lan
