name:
  kafka

networks:
  kafka-lan:
    driver: bridge

services:
  kafka:
    image: apache/kafka:latest
    restart: unless-stopped
    healthcheck:
      test: [
        "CMD-SHELL",
        "unset JMX_PORT; \
        /opt/kafka/bin/kafka-topics.sh --create --topic health-check-topic --if-not-exists --bootstrap-server kafka:19092 > /dev/null 2>&1 && \
        echo 'test-message' | /opt/kafka/bin/kafka-console-producer.sh --bootstrap-server kafka:19092 --topic health-check-topic > /dev/null 2>&1 && \
        /opt/kafka/bin/kafka-console-consumer.sh --bootstrap-server kafka:19092 --topic health-check-topic --from-beginning --max-messages 1 --consumer-property group.id=health-check-$$(date +%s) 2>/dev/null | grep -q 'test-message' && \
        /opt/kafka/bin/kafka-topics.sh --delete --topic health-check-topic --bootstrap-server kafka:19092 --if-exists > /dev/null 2>&1"
      ]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 30s
    ports:
      - "9092:9092"
    environment:
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: 'CONTROLLER://:9093,PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:19092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_MS: 3600000
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 5000
    networks:
      - kafka-lan

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui:main
    ports:
      - "9090:8080"
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:19092
    networks:
      - kafka-lan